<!DOCTYPE html>
<html>
<head>
<title>
	Andela Document Management System
</title>
	<meta name = "viewport" content = "width=device-width, initial-scale=1"/>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="test.css"/>
</head>
<body>
	<div class="container">
		<h1 id="header">Document Management System(DMS)</h1>

		<div>
 		<nav class="navbar navbar-inverse">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="/login">Dashboard</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li><a><%=user%></a></li>
    			</ul>
    			<a href="/logOut"><button class="btn btn-danger navbar-btn">Log out</button></a>
  			</div>
		</nav>
			<div class="list-group">
				<a class="list-group-item list-group-item-primary" href="/createDocument">Create Document</a>
				<a class="list-group-item list-group-item-info" href="/searchDocument">Search for document</a>
			</div>
		</div>
		<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>S/N</th>
					<th>Title</th>
					<th>Url</th>
					<th>Department</th>
					<th>User</th>
					<th>Date created</th>
				</tr>
			</thead>
			<%for(var i=0;i<query.length;i++){%>
				<tr>
					<td><%=i+1%></td>
					<td><%=query[i].title%></td>
					<td><a target="_blank" href="<%=query[i].url%>"><%=query[i].url%></a></td>
					<td><%=query[i].department%></td>			
					<td><%=query[i].user%></td>
					<td><%=new Date(query[i].time).toLocaleString()%></td>
				</tr>
			<%}%>
		</table>
		</div>
		<div id="confirmMsg">
			<p><%=message%></p>
		</div>
	<p id="footer">Andela &copy 2017</p>
	</div>
</body>
</html>